@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Manrope', sans-serif;
}

header{
  text-align: center;
  background:#084d6e;
  color: white;
  padding: 20px;
}


aside {
    background-color: #0a608a;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 100px 1fr;
}

aside ul {
    display: flex;
    flex-direction: column;
}

aside ul li {
    list-style-type: none;
    padding: 20px 0 20px 30px;
}

li+li {
    margin-top: 3px;
}

aside ul li:hover{
    background-color: cadetblue;
}

section {
    padding: 20px;
}

section img {
    width: 100%;
    height: 600px;
}